

<div class="row" ng-controller="Collection ">
      <div class="col-xs-12 col-md-8 col-md-offset-2" ui-view="products">
      <div class="row" ng-controller="LineItem">
       <h1 style="text-align:center;"><%= current_user.user_name %>'s Collection</h1>
       <div ng-repeat="collection in collections">
		<div ng-repeat="lineItem in collection.lineItems">
		
              <div class="col-xs-6  col-md-2" style="min-height:500px;display:inline-block;">
                <div><img class="img-responsive"<img ng-src="{{lineItem.image.url}}">
              {{lineItem.brand}}<br>
			{{lineItem.description}}<br>
			{{lineItem.price}}<br>
			{{lineItem.sale}}<br>
			{{lineItem.sale_price}}<br>
               <button type="button" class="btn-xs btn-danger" ng-click="delete_line_item({id: lineItem.id})"> Delete an Item </button></div>
			
              </div>
            </div>
        </div>
      </div>