/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */

.app.ng-enter {
	position: absolute;
	transition:0.75s;
	opacity:0;
}

.app.ng-enter-active {
	position: absolute;
	opacity:1;
}

.app.ng-leave{
	position: absolute;
	transition:0.75s;
	opacity:1;
}

.app.ng-leave-active{
	position: absolute;
	opacity:0;
}

.view-slide-in.ng-enter {
	position: absolute;
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
	position: absolute;
  top:0;
  left:0;
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
	position: absolute;
  top:5px;
  left:5px;
  opacity:1;
}
.view-slide-in.ng-leave{
	position: absolute;
  top:0;
  left:0;
  opacity:0;
}