

<div class="col-xs-12" style="margin-top:-20px;background-color: rgba(0,0,0,.5);height:400%;
  background-blend-mode: multiply;background-image:url('https://i.ytimg.com/vi/aMZx2C8YDsU/maxresdefault.jpg');">

	<div class="row" >	
		<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1" style="margin-top:100px;text-align:center;background-color:grey;border:solid;">
			<h1 style="color:white;"> Welcome to Retail Scrape </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1" style="background-color:white;border:solid;font-size:20px;">
		<br>
		<br>
		<br>
			<p > A place to find fashion from Bloomingdales.com .This app was a sample project built for an interview by <span style="font-weight:bold">Merlin</span>. Built with <span style="color:red">Angular</span> & <span style="color:red">Ruby on Rails</span>. <a href="http://github.com/merlup/retailscrape">View the open source.</a> </p>
			<h3>* Still working on the frontend and API </h3>
		<br>
		<br>
		<br>
		</div>
<div class="col-xs-12 col-sm-5  col-md-5 col-md-offset-1" style="margin-top:-20px;height:300px;background-color:white;border:solid;">
	<% if !logged_in? %>
	<div style="margin-top:20px;">
	  <div class="col-xs-5 col-sm-5  col-md-5 col-md-offset-1" style="display:inline-block;">
		  <h3 style="text-align:center;"> Log In </h3>
		  <%= render template: "sessions/new" %>
	  </div>

	  

	  <div class="col-sm-offset-1 col-xs-offset-1  col-xs-5 col-sm-5 col-md-5 " style="display:inline-block;">
	  	<h3 style="text-align:center;"> Sign Up </h3>
	  	
	  	<%= render template: "users/new" %>
	  	
	 </div>
	</div>
	 <% else %>
	 <div>
		 <div class="col-xs-6" >
		 
			<h3> Start Scraping Products </h3>
	  		<button type="button" class="btn btn-success"><a ui-sref="products"> Find Products </a></button>
	  	</div>
	  	<div class="col-xs-6" >
	  		
			<h3> Create an API Key </h3>
			<button type="button" class="btn btn-success" ng-click="unhide_menu(api_key_menu)"  > View API keys</button>
			<div ng-controller="ApiKey" id="api_key_menu"  style=" visibility:hidden;height:150px;overflow-y:scroll;">
				<br>
				<button type="submit" class="btn btn-danger" ng-click="create_api_key()"> Create API Key </button>
				<p> Api Keys:  </p>
				<div >
				<div ng-repeat="api_key in api_keys">
				<br>
					{{api_key.accessToken}}
					<div>
					<button type="button" class="btn-xs btn-danger" ng-click="delete_api_key({id: api_key.id})"> Delete an API Key </button></div>
				<br> 
				
				</div>
			</div>
	  	</div>
	  </div>
 	<% end %>
</div>

</div>
<br>
<br>
 	<div  class="col-xs-12 col-md-5 col-md-offset-6 "style="background-color:white;border:solid;">
	<h3 style="color:blue"> Access the API  </h3>
	<p> (http://api.retailscrape.blackvandal.com)</p>
	<p> Add the PostMan Chrome Extension to test the public Api </p>
	<p>  (https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm/related?hl=en)</p>
</div>

</div>
<br><br><br><br><br><br><br>





